<mat-form-field appearance="outline" class="search-bar">
  <mat-label>Città</mat-label>
  <mat-icon matPrefix>location_city</mat-icon>
  <input type="text" matInput name="city" [(ngModel)]="city" [matAutocomplete]="auto">

  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
    @for (option of filteredCities(); track option) {
    <mat-option [value]="option">{{option}}</mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
<!--
<mat-form-field appearance="outline" class="search-bar">
                <mat-label>Cerca giochi</mat-label>
                <mat-icon matPrefix>search</mat-icon>
                <input matInput placeholder="Cerca per titolo..." [ngModel]="search()" (ngModelChange)="search.set($event)">
                @if (search()) {
                    <button mat-icon-button matSuffix (click)="search.set('')">
                        <mat-icon>close</mat-icon>
                    </button>
                }
            </mat-form-field>-->