.full-width {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.member-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.25rem 1.5rem 0.5rem !important;
  max-height: 70vh;
}