<div class="games-page">
    <mat-form-field appearance="outline" class="search-bar">
        <mat-label>Cerca giochi</mat-label>
        <input matInput placeholder="cerca per titolo" [ngModel]="search()" (ngModelChange)="search.set($event)">
        @if (search()) {
          <button mat-icon-button matSuffix (click)="search.set('')">
              <mat-icon>close</mat-icon>
          </button>
        }
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="openGameForm()">
        <mat-icon>add</mat-icon> Registra nuovo gioco
    </button>

    <div class="members-list">
        @for (game of games(); track game.id) {
        <mat-card appearance="outlined" class="member-card">
            <mat-card-header>
                <mat-card-title>{{ game.title }}</mat-card-title>
                <mat-card-subtitle>{{ game.description }}</mat-card-subtitle>
            </mat-card-header>
            
            <mat-card-actions align="end">
                <button mat-icon-button color="primary" (click)="openGameForm(game)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteGame(game.id!)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
        } @empty {
          <p>Nessun gioco trovato.</p>
        }
    </div>
</div>
