<div class="games-page">
    <div class="search-header">
        <div>
            <mat-form-field appearance="outline" class="search-bar">
                <mat-label>Cerca giochi</mat-label>
                <mat-icon matPrefix>search</mat-icon>
                <input matInput placeholder="Cerca per titolo..." [ngModel]="search()" (ngModelChange)="search.set($event)">
                @if (search()) {
                    <button mat-icon-button matSuffix (click)="search.set('')">
                        <mat-icon>close</mat-icon>
                    </button>
                }
            </mat-form-field>
        </div>

        <button mat-stroked-button (click)="openGameForm()">
            <mat-icon>add</mat-icon> Registra Nuovo Gioco
        </button>
    </div>

    <div class="games-grid">
        @for (game of games(); track game.id) {
        <mat-card appearance="outlined" class="game-card">
            <mat-card-header>
                <div mat-card-avatar class="game-icon-circle">
                    <mat-icon>casino</mat-icon>
                </div>
                <mat-card-title class="game-title">{{ game.title }}</mat-card-title>
                <mat-card-subtitle class="game-description">{{ game.description }}</mat-card-subtitle>
            </mat-card-header>
            
            <mat-card-actions align="end">
                <button mat-icon-button class="edit-btn" (click)="openGameForm(game)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteGame(game.id!)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
        } @empty {
            <div class="empty-state">
                <p>Nessun gioco trovato.</p>
            </div>
        }
    </div>
</div>